body {
    background-color: #000 !important;
    color: #fff !important; 
    margin: 0; 
    padding: 0; 
    font-family: "Chakra Petch", sans-serif !important; 
    font-weight: 300;
    font-style: normal;
}
.fade-in-text {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }

  .fade-in-text-subtext {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  .skills-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
/* Style for individual skill icon */
.skill-icon {
    font-size: 48px; /* Adjust size as needed */
    margin-bottom: 10px;
}
  
.image-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
}

.pill-container{
  border: 1px solid white;
  padding: 10px; 
  margin-bottom: 20px; 
  border-radius: 50px;
  
}




  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }